body {
    margin: 0;
    padding: 0;
}

.wrapper-giphy {
    padding: 20px;
}

.preloader {
    background: rgba(255,255,255,.8);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.form-wrapp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.wrap-photo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 15px;
}

.input {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 8px 12px;
    outline: none;
    margin-right: 10px;
    box-sizing: border-box;
    font-size: 1.1rem;
}

button {
    border: 1px solid #000;
    background: transparent;
    padding: 8px 15px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 1.1rem;
    font-weight: bold;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .4);
    transition: .3s;
}

button:hover {
    background: #000;
    color: #fff;
    box-shadow: none;
}

.wrap-photo img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.photo-item {
    height: auto;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errors {
    text-align: center;
    font-size: 1.2rem;
    margin: 0 0 25px 0;
    padding: 0;
    color: #c51e3a;
    text-decoration: underline;
    transition: .3s;
    font-family: sans-serif;
}

.col-gif {
    width: 110px;
}

@media (max-width: 990px) {
    .wrap-photo {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.top-scroll {
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 999;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .4s;
}

.top-scroll img{
    height: 45px;
}

.top-scroll:hover{
    transform: scale(1.2);
}


@media (max-width: 576px) {
    .form-wrapp {
        flex-direction: column;
    }
    .input {
        width: auto;
        margin: 0;
        width: 100%;
        margin-bottom: 10px;
    }
    button {
        width: 100%;
        padding: 12px 15px;
    }
    .col-gif {
       width: 100%;
    }
    .wrap-photo {
        grid-template-columns: 1fr;
    }
    .photo-item {
        height: 100%;
        width: 100%;
    }
}