.wrapper-giphy {
    padding: 20px;
}
.form-wrapp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.wrap-photo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-gap: 10px;
}

@media (max-width: 990px) {
    .wrap-photo {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 576px) {
    .wrap-photo {
        display: grid;
        grid-template-columns: 1fr;
    }
}


input {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 8px 15px;
    outline: none;
    margin-right: 10px;
}

button {
    border: 1px solid #000;
    background: transparent;
    padding: 8px 15px;
    transition: .3s;
    border-radius: 5px;
}

button:hover {
    background: #000;
    color: #fff;
}

.wrap-photo img {
    max-width: 100%;
    height: auto;
}