<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Giphy</title>
        <meta name="description" content="Giphy">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        <div class="container" id="app">
            <div class="preloader" v-if="isLoading">
                <img src="preloader.gif" alt="preloader">
            </div>
            <div class="wrapper-giphy">
                <form @submit.prevent="handleSearch" class="form-wrapp" method="post">
                    <input type="text" @focus="onFocus" @blur="onBlur" v-bind:class="{ activeInput: isActive }" v-model="searchGif">
                    <button type="submit">Search</button>
                </form>
                <p v-if="errors.length">
                    <p v-for="error in errors" class="errors">{{ error }}</p>
                </p>
                <div class="wrap-photo">
                    <div v-for="gif in gifs">
                        <a :href="gif.url" class="photo-item">
                            <img :src="gif.images.fixed_height.url" alt="gifs">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>